<div *ngIf="loading">
    <div [ngClass]="loading === true ? 'preloadSection fade-in appear': 'preloadSection fade-in' ">
        <img src="./assets/logo.png" alt="">
        
        <div class="loader">
            <ngx-loading
                [show]="loading"
                [config]="{backdropBackgroundColour: 'transparent'}"

            ></ngx-loading>
        </div>
        
        
    </div>
</div>
<div *ngIf="!loading" class="mainComponents">
    <app-navbar></app-navbar>
    <app-main></app-main>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-projects></app-projects>
    <app-contact></app-contact>
</div>