
<div class="navbar" id="navbar">
    <div class="logo">
        <a href="#"><img src="../../../assets/logo.png"></a>
    </div>
    <div class="navlinks">
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
    </div>

    
    
    <div class="hamMenu">
        <div class="burger" (click)="toggleMenu()">
            <i class="material-icons">{{isMenuOpen ? "close" : "menu"}}</i>
        </div>
        <div class="menu">
            <div [ngClass]="isMenuOpen ? 'navlinksMobile' : 'menuOpen'">
                <a href="#about" (click)="toggleMenu()" >About</a>
                <a href="#experience" (click)="toggleMenu()" >Experience</a>
                <a href="#projects" (click)="toggleMenu()" >Projects</a>
            </div>
        </div>
        
    </div>
</div>
