<div class="experienceSection" id="experience">
    <p class="sectionTitles">Experience</p>

    <div class="experienceContainer" 
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection($event)"
    >
        <div class="employers">
            <ul *ngFor="let datas of data">
                <li class="{{dataId === datas.id - 1 ? 'employerChosen': ''}}" (click)="onChosen(datas)"  >{{datas.name}}</li>
            </ul>
        </div>
        <div class="employerDescription">
            <div>
                <p class="employer">{{data[dataId].position}}<span> @ {{data[dataId].name}}</span></p>
                <p class="date">{{data[dataId].date}}</p>
                <ul>
                    <li *ngFor="let datas of data[dataId].description">{{datas}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="resume fade-in appear">
    <a href="../../../assets/ARoman Resume Jan 2023.pdf" target="_blank"><button class="resumeButton">Download Resume</button></a>
    </div>
    
</div>
